body{
 background-image: url("./craciun.jpg");
background-size: cover;
}

header{
    img{
        height:22rem;
        opacity: 0.4;
    }
    h5, p{
        color:  black;
        font-size: 50px;
        font-family: 'Corinthia', cursive;
        font-size: bold;
    }
    
}

#midle{
    display: flex;
    align-items: center;
    justify-content: center;
    wrap:nowrap;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    
    img{
        width: 25rem;
        height: 28rem;

    }
}


main{
 #mosu{
     display: inline;
 }

//  #rechts{
//     float: right;
//     text-align: justify;
 
//  }

    #santa-img{
        border: 2px solid red;
        border-radius:65%;
    }
    #test:hover{
        background-color:#f11f10;
            }
            #test{
                 border: 3px solid gold;
                border-radius: 35%;
                background-color:lightgray;
                animation-name: button;
                animation-duration: 4s;
                animation: button 5s infinite;
            }
            @keyframes button {
                0%   {border-color: red;}
                25%  {border-color: yellow;}
                50%  {border-color: blue;}
                100% {border-color:red;}
              }
            #para{
                color: rgb(8, 8, 6);
                font-size: 2rem;
                float: center;
                text-align: center;
            }
}


footer{
    background-color: lightblue;
    padding: auto;
   h4{
    margin-top: 40rem;
    text-align: center;
   }


    img{
        margin-top: 20rem;
        width:100%;
        opacity: 0.4;
        height: 15rem
    }

  
}